@import"https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap";
:root {
	--serif: Source Serif Pro, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
main {
	font-family: var(--serif);
}
h1, h2, h3, h4, h5, h6,
figure, table {
	font-family: var(--bs-body-font-family);
}
.sidebar-title {
	font-size: 1.2em;
}
section#avant-propos h1 {
	display: none;
}
#title-block-header p {
	margin-block-end: .2rem;
}