<header id="title-block-header">
<h1 class="title">$title$</h1>
$if(titlepage)$
<p>$citation.genre$ en $discipline$</p>
<p>$citation.publisher$ – $school$</p>
<p class="author">$if(date)$Présentée et soutenue publiquement le $date$ par $endif$$author$</p>
<p>Sous la direction de $director$</p>
$if(examiner)$<br>
<p>Membres du jury :</p>
$endif$
$for(examiner)$
<p>$examiner$</p>
$endfor$
$if(abstract)$
<div class="abstract">
<div class="abstract-title">$abstract-title$</div>
$abstract$
</div>
$endif$
$endif$

</header>